<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" style="background: #006446">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            @*<div class="pull-left image">
                  <img src="../dist/img/avatar5.png" class="img-circle" alt="User Image">
                </div>*@

        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree" style="margin: 10px;background: #FFF1C7;">
            <li>
                <a href="#">@ViewBag.Username</a>
                <a href="#"><i class="fa fa-user-o "></i>@ViewBag.UserId</a>
            </li>
            <li class="treeview-menu">
            <li><a href="/Dashboard/index"><i class="fa fa-angle"></i> Dashboard</a></li>
            </li>
            <li><a href="/Perencanaan/index"><i class="fa fa-angle"></i> Perencanaan</a></li>
            <li><a href="/ProgramAudit/Index"><i class="fa fa-angle"></i> Pelaksanaan</a></li>
            <li><a href="/MonitoringTL/index"><i class="fa fa-angle"></i> Monitoring</a></li>
            <li><a href="/Konsultasi"><i class="fa fa-angle"></i> Konsultasi</a></li>
            <li><a href="/Database"><i class="fa fa-angle"></i> Database</a></li>
            <li><a href="/Dashboard/index"><i class="fa fa-angle"></i> Personil Komp. AI</a></li>
            <li><a href="/UnitKerja/index"><i class="fa fa-angle"></i> Unit Kerja</a></li>


            @*<li class="treeview">
            <a href="#">
                <i class="fa fa-th"></i> <span>Perencanaan</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
        </li>*@
            @*<li class="treeview">
            <a href="#">
                <i class="fa fa-balance-scale "></i> Program Audit
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/ProgramAudit/Index"><i class="fa fa-circle"></i> List Program</a></li>
                <li><a href="#"><i class="fa fa-circle"></i> Program Baru</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-archive"></i> KKA <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle"></i> List KKA</a></li>
                <li><a href="#"><i class="fa fa-circle"></i> KKA Baru</a></li>
            </ul></a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-barcode "></i> Monitoring
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/MonitoringTL/temuan"><i class="fa fa-circle"></i> Temuan</a></li>
                <li><a href="/MonitoringTL/rekomendasi"><i class="fa fa-circle"></i> Rekomendisi</a></li>
                <li><a href="/MonitoringTL/index"><i class="fa fa-circle"></i> Tindak Lanjut</a></li>
            </ul></a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-address-book"></i> Unit Kerja
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/UnitKerja/index"><i class="fa fa-circle"></i> List Unit Kerja</a></li>
                <li><a href="/UnitKerja/create"><i class="fa fa-circle"></i> Unit Kerja Baru</a></li>
            </ul></a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-binoculars"></i> Obyek Audit
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle"></i> List Obyek Audit</a></li>
                <li><a href="#"><i class="fa fa-circle"></i> Obyek Audit Baru</a></li>
            </ul>
            </a>

        </li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>